<center>
  <h1>Time</h1>
  <p>
    {{ time | date: 'HH:mm:ss' }}
  </p>
  <div class="ui buttons">
    <button (click)="chooseStrategy('CheckOnce')" class="ui button"><i class="circle icon"></i> CheckOnce</button>
    <div class="or"></div>
    <button (click)="chooseStrategy('Detached')" class="ui button"><i class="remove icon"></i> Detach</button>
    <div (click)="chooseStrategy('CheckOnce')" class="or"></div>
    <button (click)="chooseStrategy('CheckAlways')" class="ui button"><i class="refresh icon"></i> CheckAlways</button>
  </div>
</center>
